
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    background-color: #00FF00;
    font-family: Arial, sans-serif;
  }
  
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  
  #quiz-container {
    text-align: left;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  #load-quiz,
  #submit-results {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  #load-quiz:hover,
  #submit-results:hover {
    background-color: #0056b3;
  }
  
  
  #quiz-results {
    display: none;
    margin-top: 20px;
  }
  
 
  #total-score {
    font-weight: bold;
    font-size: 20px;
  }
  
  
  #initials {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
  }
  
  
  .question {
    margin-top: 20px;
  }
  
 
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  